# Upbit API Keys
UPBIT_ACCESS_KEY="자신의_ACCESS_KEY_입력"
UPBIT_SECRET_KEY="자신의_SECRET_KEY_입력"

# Execution Mode config
SIMULATION_MODE=True

# Email Configuration
EMAIL_USER="your_email@gmail.com"
EMAIL_PASSWORD="your_app_password"
EMAIL_RECEIVER="receiver_email@example.com"
